body {
    margin: 0;
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.container {
    width: 1099px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards {
    background-size: cover;
    color: white;
    width: 430px;
    height: 800px;
    /* padding: 248px 0px 0px 160px; */
    background-image: url(./Images/Bg-Card.svg);
}

.card-front {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 248px 0px 0px 160px;
}

.logo {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 32px;
}

.logo img {
    display: none;
}

.logo-white {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #F5F5F5;
}

.logo-purple {
    position: absolute;
    width: 29px;
    height: 29px;
    border: 2px solid #F5F5F5;
    top: 13px;
    left: 64px;
}

.card-num {
    position: absolute;
    top: 122px;
    left: 36px;
    font-size: 24px;
    width: 274px;
    color: #F5F5F5;
}

.title {
    display: flex;
    position: absolute;
    left: 36px;
    top: 165px;
    color: #F5F5F5;
}

.holder-name {
    width: 256px;
}

.card-front img {
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    /* box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.30); */
}

.card-back {
    position: relative;
    margin: 24px 0px 0px 240px;
}

.card-back img {
    position: relative;
    width: 400px;
    height: 200px;
}

.card-back .cvc {
    position: absolute;
    top: 89px;
    left: 305px;
    font-size: 18px;
    font-weight: 400;
    color: #F5F5F5;
}

.field-title {
    color: #808080;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-date input {
    width: 86px;
    padding: 18px 0px;
    text-align: center;
    display: flex;
    gap: 10px;
}

.date {
    display: flex;
    gap: 10px;
}

.form {
    width: 459px;
    margin-left: 370px;
    margin-top: 132px;
}
    /* background-image:linear-gradient(to right, #6A5ACD, #FF7F50);
    padding: 10px;
    border-radius: 20px; */
    /* border-color: #6A5ACD;
    outline: #FF7F50; */
.form form input {
    background: #FFF;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid transparent; 
    border-radius: 20px;
    border-color: #6A5ACD;
    outline: #FF7F50;
    background-image: linear-gradient(white, white), linear-gradient(to right, #6A5ACD, #FF7F50);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
/* .input-wrapper input {
    background: #FFF;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 8px;
    background-image: linear-gradient(135deg, #6A5ACD, #FF7F50);
    background-clip: border-box; 
} */
.name-field{
    background-color: #FFF;
  border-radius: inherit;
}
.input-wrapper input {
    width: 100%;
    padding: 19px 12px 19px 14px;
}

.date input {
    width: 90px;
    padding: 19px 27px;
}

::placeholder {
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.card-name,
.card-number {
    margin-bottom: 20px;
}

.name-field,
.num-field {
    padding: 18px 12px 18px 14px;
    color: #808080;
}

.date-cvc {
    display: flex;
    gap: 49px;
}

.cvc-field {
    width: 220px;
    padding: 19px 12px;
}

button {
    width: 100%;
    padding: 19px;
    border-radius: 15px;
    background: #3A0652;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    cursor: pointer;
}

.completion-message {
    width: 459px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 370px;
}

.completion-message img {
    margin-bottom: 1.5rem;
}

.thanks {
    font-size: 24px;
    color: #3A0652;
}

.sub-title {
    color: #808080;
}

.date-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-date,
.cvc {
    position: relative;
    
}
.name-warn,.number-warn{
    display: none;
    color: red; 
    font-size: 12px;
     position: absolute; 
}
.release-month-year-warn{
    display: none;
    position: absolute;
    bottom: -34px; 
    left: 0;
    color: red; 
    font-size: 12px; 
}
.cvc-warn {
    display: none;
    position: absolute;
    bottom: -20px; 
    left: 0;
    color: red; 
    font-size: 12px; 
}


@media (max-width: 768px) {
    body {
        padding: 0 0;
        flex-direction: column;
    }

    .container {
        width: 100%;
        display: block;
        padding: 0px 0px 98px 0px;
    }

    .content {
        display: block;
    }

    .form form {
        box-sizing: border-box;
    }

    .form form input {
        border-radius: 10px;
    }

    .input-wrapper input {
        width: 100%;
        padding: 12px 10px;
    }

    .date-cvc {
        display: flex;
        gap: 11px;
    }

    .cvc-field {
        width: 160px;
        padding: 13px 10px 11px 12px;
    }

    .logo .logo-white,
    .logo .logo-purple {
        display: none;
    }

    .logo .logo-mobile {
        display: block;
        width: 51px;
        height: 28px;
        margin-left: -7px;
    }

    .cards {
        width: 400px;
        height: 260px;
        position: absolute;
    }

    .card-num {
        position: absolute;
        top: 83px;
        left: 25px;
        font-size: 18px;
        color: #DEDDDF;
    }

    .title {
        display: flex;
        position: absolute;
        left: 25px;
        top: 121px;
    }

    .release-date {
        color: #DEDDDF;
        font-size: 12px;
    }

    .holder-name {
        width: 198px;
    }

    .card-back img {
        width: 288px;
        height: 160px;
    }

    .card-back {
        margin: -290px 40px 0px 72px;
    }

    .card-front img {
        width: 288px;
        height: 160px;
    }

    .card-front {
        /* width: 100%; */
        margin-top: 160px;
        margin-left: 40px;

    }

    .form {
        width: 320px;
        margin: 0 0;
        padding: 379px 0px 0px 40px;
    }

    .card-date input {
        width: 72px;
        padding: 12px 0px;
        border-radius: 10px;
    }

    button {
        padding: 14px;
        margin-top: 40px;
        background-color: #21092F;
    }

    .date {
        gap: 5px;
    }

    .field-title {
        font-size: 14px;
    }

    .card-back .cvc {
        position: absolute;
        top: 69px;
        left: 223px;
        font-size: 16px;
        color: #FFF;
    }
}

